<div id="profile_image">
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, size:"300x300", class: "mr-2 rounded-circle" %>
  <% end %>
</div>

<div class="row">
  <div class="card" style="width: 18rem;">
    <div class="card-body mx-auto">
      <h1 class="card-title">Scan me</h1>
      <p class="card-text">
         <table>
         <% @qr.modules.each_index do |x| -%>
           <tr>
           <% @qr.modules.each_index do |y| -%>
            <% if @qr.dark?(x,y) -%>
            <td class="black"/>
            <% else -%>
            <td class="white"/>
            <% end -%>
           <% end -%>
           </tr>
         <% end -%>
        </table>
      </p>
      <%= link_to 'Scan QR code', '/associations/new', class: "btn btn-success" %>
    </div>
  </div>
</div>
