<div class="row">
  <div class="card" style="width: 18rem;">
    <div class="card-body mx-auto">
      <h1 class="card-title text-center">Scan <%= current_user.firstname%></h1>
      <p class="card-text">
         <table>
         <% @qr.modules.each_index do |x| -%>
           <tr>
           <% @qr.modules.each_index do |y| -%>
            <% if @qr.dark?(x,y) -%>
            <td class="black"/>
            <% else -%>
            <td class="white"/>
            <% end -%>
           <% end -%>
           </tr>
         <% end -%>
        </table>
      </p>
      <div class="row align-items-center justify-content-center">
        <%= link_to 'Scan QR code', '/associations/new', class: "btn btn-success center" %>
      </div>
    </div>
  </div>
</div>
