<% @associations.each do |associate| %>
  <div>
    <%= "You are associated with user #{User.find(associate.associate_id).firstname} #{User.find(associate.associate_id).lastname}, congrats" %>
  </div>
<% end %>
<%= link_to "Associate?", new_association_path %>
