<% @associations.each do |associate| %>
  <div>
    <% user = User.find(associate.associate_id) %>
    <% name = "#{user.firstname} #{user.lastname}" %>
    <%= link_to "#{name}'s card", user_profile_path(user.id)%>
  </div>
<% end %>
<%= link_to "Associate?", new_association_path %>
