<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @association.associate_id %>
</p>

<%= link_to 'Edit', edit_association_path(@association) %> |
<%= link_to 'Back', associations_path %>
